@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply text-text bg-base-color;
}

*::-webkit-scrollbar {
    width: 6px;
}

*::-webkit-scrollbar-track {
    background: transparent;
}

*::-webkit-scrollbar-thumb {
    border-width: 10px;
    @apply bg-dark-base-color;
}

*::-webkit-scrollbar-thumb:hover {
    @apply bg-light-base-color;
}